In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

In [2]:
cpu_data = pd.read_csv('./cpu_anomaly_data2.csv')
cpu_data['timestamp'] = pd.to_datetime(cpu_data['timestamp'])

In [3]:
cpu_data

      cpu_usage                 timestamp  anomaly
0     21.756007 2023-12-04 22:20:00+00:00        0
1     22.302332 2023-12-04 22:25:00+00:00        0
2     34.959884 2023-12-04 22:30:00+00:00        0
3     29.625328 2023-12-04 22:35:00+00:00        0
4     21.144231 2023-12-04 22:40:00+00:00        0
...         ...                       ...      ...
9991  43.327759 2024-01-08 14:55:00+00:00        0
9992  36.268165 2024-01-08 15:00:00+00:00        0
9993  40.028437 2024-01-08 15:05:00+00:00        0
9994  44.154303 2024-01-08 15:10:00+00:00        1
9995  42.094822 2024-01-08 15:15:00+00:00        1

[9996 rows x 3 columns]

In [4]:
cpu_data['cpu_usage'] = cpu_data['cpu_usage']/100
cpu_data

      cpu_usage                 timestamp  anomaly
0      0.217560 2023-12-04 22:20:00+00:00        0
1      0.223023 2023-12-04 22:25:00+00:00        0
2      0.349599 2023-12-04 22:30:00+00:00        0
3      0.296253 2023-12-04 22:35:00+00:00        0
4      0.211442 2023-12-04 22:40:00+00:00        0
...         ...                       ...      ...
9991   0.433278 2024-01-08 14:55:00+00:00        0
9992   0.362682 2024-01-08 15:00:00+00:00        0
9993   0.400284 2024-01-08 15:05:00+00:00        0
9994   0.441543 2024-01-08 15:10:00+00:00        1
9995   0.420948 2024-01-08 15:15:00+00:00        1

[9996 rows x 3 columns]

In [5]:
num_lags = 2

#add lag
for i in range(1, num_lags+1):
    cpu_data['lag_{}'.format(i)] = cpu_data['cpu_usage'].shift(i)
  
cpu_data = cpu_data.dropna()

In [6]:
cpu_data

      cpu_usage                 timestamp  anomaly     lag_1     lag_2
2      0.349599 2023-12-04 22:30:00+00:00        0  0.223023  0.217560
3      0.296253 2023-12-04 22:35:00+00:00        0  0.349599  0.223023
4      0.211442 2023-12-04 22:40:00+00:00        0  0.296253  0.349599
5      0.352088 2023-12-04 22:45:00+00:00        0  0.211442  0.296253
6      0.271253 2023-12-04 22:50:00+00:00        0  0.352088  0.211442
...         ...                       ...      ...       ...       ...
9991   0.433278 2024-01-08 14:55:00+00:00        0  0.424970  0.383699
9992   0.362682 2024-01-08 15:00:00+00:00        0  0.433278  0.424970
9993   0.400284 2024-01-08 15:05:00+00:00        0  0.362682  0.433278
9994   0.441543 2024-01-08 15:10:00+00:00        1  0.400284  0.362682
9995   0.420948 2024-01-08 15:15:00+00:00        1  0.441543  0.400284

[9994 rows x 5 columns]

In [7]:
cpu_data

      cpu_usage                 timestamp  anomaly     lag_1     lag_2
2      0.349599 2023-12-04 22:30:00+00:00        0  0.223023  0.217560
3      0.296253 2023-12-04 22:35:00+00:00        0  0.349599  0.223023
4      0.211442 2023-12-04 22:40:00+00:00        0  0.296253  0.349599
5      0.352088 2023-12-04 22:45:00+00:00        0  0.211442  0.296253
6      0.271253 2023-12-04 22:50:00+00:00        0  0.352088  0.211442
...         ...                       ...      ...       ...       ...
9991   0.433278 2024-01-08 14:55:00+00:00        0  0.424970  0.383699
9992   0.362682 2024-01-08 15:00:00+00:00        0  0.433278  0.424970
9993   0.400284 2024-01-08 15:05:00+00:00        0  0.362682  0.433278
9994   0.441543 2024-01-08 15:10:00+00:00        1  0.400284  0.362682
9995   0.420948 2024-01-08 15:15:00+00:00        1  0.441543  0.400284

[9994 rows x 5 columns]

In [8]:
X = cpu_data[['cpu_usage', 'lag_1', 'lag_2']]
y = cpu_data['anomaly']

In [9]:
X_train = X[:int(0.7*len(X))]
X_test = X[int(0.7*len(X)):]
y_train = y[:int(0.7*len(y))]
y_test = y[int(0.7*len(y)):]

X_train = np.array(X_train)
X_test = np.array(X_test)
y_train = np.array(y_train)
y_test = np.array(y_test)

X_train.shape

C:\Users\HP\AppData\Local\Temp\ipykernel_7852\1242326204.py:3: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  y_train = y[:int(0.7*len(y))]
C:\Users\HP\AppData\Local\Temp\ipykernel_7852\1242326204.py:4: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  y_test = y[int(0.7*len(y)):]

(6995, 3)

In [13]:
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(64, input_shape=(None,3), activation='relu'),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

In [14]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [15]:
model.fit(X_train, y_train, epochs=20, validation_data=(X_test, y_test))

Epoch 1/20
WARNING:tensorflow:Model was constructed with shape (None, None, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, None, 3), dtype=tf.float32, name='dense_3_input'), name='dense_3_input', description="created by layer 'dense_3_input'"), but it was called on an input with incompatible shape (None, 3).

WARNING:tensorflow:Model was constructed with shape (None, None, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, None, 3), dtype=tf.float32, name='dense_3_input'), name='dense_3_input', description="created by layer 'dense_3_input'"), but it was called on an input with incompatible shape (None, 3).
217/219 [============================>.] - ETA: 0s - loss: 0.1738 - accuracy: 0.9824WARNING:tensorflow:Model was constructed with shape (None, None, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, None, 3), dtype=tf.float32, name='dense_3_input'), name='dense_3_input', description="created by layer 'dense_3_input'"), but it was called on an input with incompatible shape (None, 3).
219/219 [==============================] - 2s 4ms/step - loss: 0.1734 - accuracy: 0.9824 - val_loss: 0.0663 - val_accuracy: 0.9890
Epoch 2/20
219/219 [==============================] - 1s 2ms/step - loss: 0.0725 - accuracy: 0.9871 - val_loss: 0.0661 - val_accuracy: 0.9890
Epoch 3/20
219/219 [==============================] - 1s 2ms/step - loss: 0.0670 - accuracy: 0.9871 - val_loss: 0.0562 - val_accuracy: 0.9890
Epoch 4/20
219/219 [==============================] - 1s 2ms/step - loss: 0.0576 - accuracy: 0.9871 - val_loss: 0.0471 - val_accuracy: 0.9890
Epoch 5/20
219/219 [==============================] - 1s 2ms/step - loss: 0.0441 - accuracy: 0.9871 - val_loss: 0.0376 - val_accuracy: 0.9913
Epoch 6/20
219/219 [==============================] - 1s 2ms/step - loss: 0.0305 - accuracy: 0.9901 - val_loss: 0.0266 - val_accuracy: 0.9957
Epoch 7/20
219/219 [==============================] - 1s 2ms/step - loss: 0.0230 - accuracy: 0.9933 - val_loss: 0.0201 - val_accuracy: 0.9970
Epoch 8/20
219/219 [==============================] - 1s 2ms/step - loss: 0.0189 - accuracy: 0.9947 - val_loss: 0.0143 - val_accuracy: 0.9973
Epoch 9/20
219/219 [==============================] - 1s 2ms/step - loss: 0.0165 - accuracy: 0.9951 - val_loss: 0.0118 - val_accuracy: 0.9967
Epoch 10/20
219/219 [==============================] - 1s 2ms/step - loss: 0.0151 - accuracy: 0.9960 - val_loss: 0.0122 - val_accuracy: 0.9987
Epoch 11/20
219/219 [==============================] - 1s 2ms/step - loss: 0.0133 - accuracy: 0.9963 - val_loss: 0.0168 - val_accuracy: 0.9990
Epoch 12/20
219/219 [==============================] - 1s 2ms/step - loss: 0.0133 - accuracy: 0.9960 - val_loss: 0.0124 - val_accuracy: 0.9990
Epoch 13/20
219/219 [==============================] - 1s 2ms/step - loss: 0.0129 - accuracy: 0.9964 - val_loss: 0.0090 - val_accuracy: 0.9987
Epoch 14/20
219/219 [==============================] - 1s 3ms/step - loss: 0.0122 - accuracy: 0.9963 - val_loss: 0.0172 - val_accuracy: 0.9983
Epoch 15/20
219/219 [==============================] - 1s 3ms/step - loss: 0.0122 - accuracy: 0.9963 - val_loss: 0.0086 - val_accuracy: 0.9987
Epoch 16/20
219/219 [==============================] - 1s 2ms/step - loss: 0.0119 - accuracy: 0.9969 - val_loss: 0.0093 - val_accuracy: 0.9990
Epoch 17/20
219/219 [==============================] - 1s 2ms/step - loss: 0.0114 - accuracy: 0.9963 - val_loss: 0.0086 - val_accuracy: 0.9987
Epoch 18/20
219/219 [==============================] - 1s 3ms/step - loss: 0.0118 - accuracy: 0.9963 - val_loss: 0.0085 - val_accuracy: 0.9987
Epoch 19/20
219/219 [==============================] - 1s 3ms/step - loss: 0.0121 - accuracy: 0.9967 - val_loss: 0.0084 - val_accuracy: 0.9987
Epoch 20/20
219/219 [==============================] - 1s 4ms/step - loss: 0.0111 - accuracy: 0.9967 - val_loss: 0.0106 - val_accuracy: 0.9973

In [19]:
predict = model.predict(X_test)
predict = np.where(predict > 0.5, 1, 0)

94/94 [==============================] - 0s 2ms/step

In [20]:
from sklearn.metrics import classification_report

In [21]:
print(classification_report(y_test, predict))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      2966
           1       1.00      0.76      0.86        33

    accuracy                           1.00      2999
   macro avg       1.00      0.88      0.93      2999
weighted avg       1.00      1.00      1.00      2999

In [39]:
model = tf.keras.models.Sequential([
    tf.keras.layers.LSTM(64, input_shape=(3,1), return_sequences=True),
    tf.keras.layers.LSTM(32),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

In [40]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [41]:
model.fit(X_train, y_train, epochs=20, validation_data=(X_test, y_test))

Epoch 1/20

219/219 [==============================] - 6s 10ms/step - loss: 0.1580 - accuracy: 0.9826 - val_loss: 0.0648 - val_accuracy: 0.9890
Epoch 2/20
219/219 [==============================] - 1s 6ms/step - loss: 0.0730 - accuracy: 0.9871 - val_loss: 0.0629 - val_accuracy: 0.9890
Epoch 3/20
219/219 [==============================] - 1s 6ms/step - loss: 0.0705 - accuracy: 0.9871 - val_loss: 0.0643 - val_accuracy: 0.9890
Epoch 4/20
219/219 [==============================] - 1s 6ms/step - loss: 0.0640 - accuracy: 0.9871 - val_loss: 0.0400 - val_accuracy: 0.9893
Epoch 5/20
219/219 [==============================] - 1s 7ms/step - loss: 0.0465 - accuracy: 0.9884 - val_loss: 0.0248 - val_accuracy: 0.9933
Epoch 6/20
219/219 [==============================] - 1s 6ms/step - loss: 0.0429 - accuracy: 0.9910 - val_loss: 0.0252 - val_accuracy: 0.9950
Epoch 7/20
219/219 [==============================] - 1s 6ms/step - loss: 0.0411 - accuracy: 0.9913 - val_loss: 0.0219 - val_accuracy: 0.9950
Epoch 8/20
219/219 [==============================] - 1s 6ms/step - loss: 0.0410 - accuracy: 0.9916 - val_loss: 0.0464 - val_accuracy: 0.9960
Epoch 9/20
219/219 [==============================] - 1s 6ms/step - loss: 0.0394 - accuracy: 0.9921 - val_loss: 0.0337 - val_accuracy: 0.9957
Epoch 10/20
219/219 [==============================] - 1s 6ms/step - loss: 0.0379 - accuracy: 0.9920 - val_loss: 0.1685 - val_accuracy: 0.9133
Epoch 11/20
219/219 [==============================] - 1s 6ms/step - loss: 0.0375 - accuracy: 0.9921 - val_loss: 0.1304 - val_accuracy: 0.9446
Epoch 12/20
219/219 [==============================] - 1s 7ms/step - loss: 0.0362 - accuracy: 0.9926 - val_loss: 0.0238 - val_accuracy: 0.9957
Epoch 13/20
219/219 [==============================] - 1s 7ms/step - loss: 0.0359 - accuracy: 0.9921 - val_loss: 0.0870 - val_accuracy: 0.9673
Epoch 14/20
219/219 [==============================] - 1s 7ms/step - loss: 0.0347 - accuracy: 0.9923 - val_loss: 0.0213 - val_accuracy: 0.9963
Epoch 15/20
219/219 [==============================] - 1s 6ms/step - loss: 0.0342 - accuracy: 0.9926 - val_loss: 0.0284 - val_accuracy: 0.9957
Epoch 16/20
219/219 [==============================] - 1s 6ms/step - loss: 0.0337 - accuracy: 0.9926 - val_loss: 0.0254 - val_accuracy: 0.9963
Epoch 17/20
219/219 [==============================] - 1s 6ms/step - loss: 0.0331 - accuracy: 0.9926 - val_loss: 0.0976 - val_accuracy: 0.9647
Epoch 18/20
219/219 [==============================] - 1s 6ms/step - loss: 0.0310 - accuracy: 0.9927 - val_loss: 0.0351 - val_accuracy: 0.9927
Epoch 19/20
219/219 [==============================] - 1s 6ms/step - loss: 0.0302 - accuracy: 0.9929 - val_loss: 0.1036 - val_accuracy: 0.9583
Epoch 20/20
219/219 [==============================] - 1s 6ms/step - loss: 0.0289 - accuracy: 0.9927 - val_loss: 0.0153 - val_accuracy: 0.9980

In [15]:
model.save('cpu_model_2_2.h5')